@model BE_Capstone.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<input type="hidden" id="help" asp-for="ProjectId">
<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
Characters:
@foreach (var orderproduct in Model.Characters)
{
    <a asp-controller="Character" asp-action="Edit" asp-route-id="@orderproduct.CharacterId"><p>@orderproduct.Name</p></a>
    
}
Scenes:
<ul id="sortable">
@foreach (var orderproduct in Model.Scenes.OrderBy(i => i.Order))
{
    <li class="ui-state-default"><a asp-controller="Scene" asp-action="Details" asp-route-id="@orderproduct.SceneId">@orderproduct.Order . @orderproduct.Title</a></li>
}
</ul>
<div>
    <a asp-controller="Scene" asp-action="Create" asp-route-id="@Model.ProjectId">Add a Scene</a> |
    <a asp-controller="Character" asp-action="Create" asp-route-id="@Model.ProjectId">Add a Character</a> |
    <a asp-controller="Project" asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
